{% if olympiads %}
<table class="table table-hover">
	<thead class="table-inverse">
		<tr>
			<th>no.</th>
			<th>olympiad</th>
			{% if not country_view %}
				<th>country</th>
			{% endif %}
			<th>city</th>
			<th>dates</th>
			<th>participants</th>
			<th>official website</th>
		</tr>
	</thead>
	<tbody>
	{% for olympiad in olympiads %}
	<tr>
    <td> {{olympiad.number}}
  	<td>
      <strong><a href="{% url 'olympiad' olympiad.pk %}">{{olympiad}}</a></strong>
    </td>
			{% if not country_view %}
			<td>
 				<a href="{% url 'country' olympiad.country.code %}">{{olympiad.country}}</a>
			</td>
			{% endif %}
		<td>{{olympiad.city}}</td>
    <td>{{olympiad.start_date}} - {{olympiad.end_date}}</td>
    <td>{{olympiad.participants_number}}</td>
		<td>
		{% if olympiad.website %}
			<a href="{{olympiad.website}}">{{olympiad.website}}</a>
		{% endif %}
	</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	{% endif %}
