{% extends 'base.html' %}

{% block title %}
People
{% endblock %}

{% load staticfiles %}
{% load customurls %}

{% block content %}

	{% if people %}
		Here are the list of people who participated in or organized Baltic Olympiad
		in Informatics.
		<ul>
		{% for person in people %}
			<li><a href="{% url 'person' person.id %}">{{ person }}</a>
			{% for participation in person.participations_list %}
				{{ participation.award | award }}
			{% endfor %}
			</li>
		{% endfor %}
	</ul>

	{% else %}
		<p>Strange, there's noone here.</p>
	{% endif %}
{% endblock %}
