{% extends 'base.html' %}

{% block title %}
{{person}}
{% endblock %}

{% load staticfiles %}
{% load customurls %}

{% block content %}

      {% if person.participations_list %}
        <table class="table table-hover">
          <thead>
            <tr class="table-inverse">
              <th>Olympiad</th>
              <th>Country</th>
              <th>Function</th>
              <th>Award</th>
            </tr>
          </thead>
          <tbody>
    			{% for participation in person.participations_list %}
            <tr>
              <td><a href="{% url 'olympiad' participation.olympiad.id %}">{{ participation.olympiad }}</a></td>
              <td>{{ participation.country|country_url }}</td>
              <td>{{ participation.function_name }}</td>
              <td>
                {{ participation.award | award:True }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      	{% endif %}

{% endblock %}
