{% extends 'base.html' %}

{% block title %}
{{person}}
{% endblock %}

{% load staticfiles %}

{% block content %}

      {% if person.participations_list %}
        <table class="table table-hover">
          <thead>
            <tr class="table-inverse">
              <th>Olympiad</th>
              <th>Country</th>
              <th>Function</th>
              <th>Award</th>
            </tr>
          </thead>
          <tbody>
    			{% for participation in person.participations_list %}
            <tr>
              <td><a href="{% url 'olympiad' participation.olympiad.id %}">{{ participation.olympiad }}</a></td>
              <td><a href="{% url 'country' participation.country.code %}">{{ participation.country }}</a></td>
              <td>{{ participation.function_name }}</td>
              <td>
                {% if participation.award == "golden medal" %}
                  <img src="{% static 'olymp/golden.png' %}">
                {% elif participation.award == "silver medal" %}
                  <img src="{% static 'olymp/silver.png' %}">
                {% elif participation.award == "bronze medal" %}
                  <img src="{% static 'olymp/bronze.png' %}">
                {% endif %}
                {% if participation.award %}
                  {{ participation.award }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      	{% endif %}

{% endblock %}
