{% extends 'base.html' %}

{% block title %}
{{person}}
{% endblock %}

{% load staticfiles %}
{% load customurls %}

{% block content %}

      {% if person.participations_list %}
        <table class="table table-hover">
          <thead>
            <tr class="table-inverse">
              <th>Olympiad</th>
              <th>Country</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
    			{% for olympiad, participations in person.participations_list %}
            <tr>
              {% with participations|first as first_participation %}
              <td><a href="{% url 'olympiad' olympiad.id %}">{{ olympiad }}</a></td>
              <td>{{ first_participation.country|country_url }}</td>
              <td>
                {% for participation in participations %}
                  {% if participation.award %}
                    {{participation.award | award:True}}
                  {% else %}
                    {{participation.function_name}}{% endif %}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </td>
              {% endwith %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      	{% endif %}

{% endblock %}
