{% load customurls %}

<tr
  {% if chosen %}
  class="table-info"
  {% endif %}
>
<td>

  <a href="{% url 'task' task.id %}"><strong>{{task.name}}</strong> ({{task.shortcut}})</a>
  {% if chosen %}
</br><small>randomly selected problem for you comes from
      <a href="{% url 'olympiad' task.olympiad.id %}">{{task.olympiad}}</a>
      in {{task.olympiad.country|country_url}}</small>
  {% endif %}

</td>
{% if not olympiad_view %}
  <td> <a href="{% url 'olympiad' task.olympiad.id %}">{{task.olympiad}}</a> </td>
{% endif %}
  <td>{{task.average_score_for_task}}</td>
  <td>{{task.perfect_scores_for_task|length}}
    {% if chosen and task.perfect_score_example %}
      {% with example=task.perfect_score_example.participation.person %}
</br><small>including <a href="{% url 'person' example.id %}">{{ example }}</a></small>
      {% endwith %}
    {% endif %}
  </td>
</tr>
