{% load staticfiles %}
{% load customurls %}

<ul>
{% for participation in participations %}
  {% if participation.function == "PAR" %}
  <li>
    <a href="{% url 'person' participation.person.id %}">{{ participation.person }}</a>
    {{ participation.award | award }}
  </li>
  {% endif %}
{% endfor %}

{% for participation in participations %}
  {% if participation.function != "PAR" %}
  <li>
    <a href="{% url 'person' participation.person.id %}">{{ participation.person }}</a>
    <span class="badge badge-primary"> {{ participation.function_name }}</span>
  </li>
  {% endif %}
{% endfor %}

</ul>
